.Salon
{
    border: black 1px solid;
    height: 500px;
    width: 500px;
    display: grid;
    grid-template-columns: 100px 100px 100px 100px 100px;
    grid-template-rows: 100px 100px 100px 100px 100px;
    /*transform: rotateX(40deg) rotateZ(45deg);*/
    margin-left:-40%;
    margin-top:10%;
}

.Stand
{
    background-color: rgb(55, 55, 97);
    height: 100px;
    width: 100px;  
    color:white;
}

.Stand:hover {
    background-color:rgb(118, 124, 124) !important;
    cursor: pointer;
}

.sol
{
    height: 100px;
    width: 100px;
    background-color: rgb(182, 224, 224);
   
}

.Bouton
{
    height: 50px;
    width: 150px;
    
}

.corps
{
    display: grid;
    grid-template-columns: 1fr 500px 1fr;
}

.InfoStand
{
    height: 500px;
    width: 250px;
    text-align:center;
/*
    margin-left:-80%;
    margin-top:10%;
*/
    margin-left: 5%;
    margin-top:10%;
    background-color:#5d8ab7;
    border-radius : 20px;
    float: right;
}

.canvaStand
 {
    height: 100px;
    width: 100px;
    border: darkgreen solid 1px;
    background: black;
 }
 #canva2
 {
    height: 50px;
    width: 50px;
    border: darkgreen solid 1px;
    background: fuchsia;
 }

 #salon
 {
     border: black 1px solid;
     /*transform: rotateX(40deg) rotateZ(45deg);*/
/*
     margin-left:-60%;
     margin-top:10%;
     
*/
     
    margin-top:10%;
    float: left;
    
 }

 #Palette
 {
     border: black 1px solid;
     grid-template-columns: 1fr 1fr 1fr;
     display: grid;
 }
 .couleurs
 {
     border: black 1px solid;
     width: 50px;
     height: 50px;
 }

 #CaseFileAttend
 {
     position:fixed;
     height: 500px;
     width: 300px;
     border: black 1px solid;
     margin-left: 72%;
     display: grid;
     grid-template-columns: 100px 100px 100px;
     grid-template-rows: 50px 50px 1fr 1fr 1fr 1fr 1fr;
 }
 .caseFile
 {
     height: 50px;
     width: 300px;
     border: black 1px solid;
     grid-column-start: 1 span 3;
     
 }
 #TempsEstime
 {
     grid-row-start: 3;
 }
 #PlusInfo
 {
     grid-row-start: 4;
 }
 .ButtonFile
 {
     grid-row-start: 7;
     height: 25px;
     width: 100px;
     background-color: cadetblue;
 }
 #JouerJeu
 {
     grid-column-start: 1;
 }
 #QuitterFile
 {
     grid-column-start: 3;
 }
 #TitreFile
 {
     grid-row-start: 2;
     grid-column-start: 2;
 }
 #nomStand
 {
     grid-column-start: 3;
 }
 #nbPersonne
 {
     border: black 1px solid;
     height: 25px;
     width: 110px;
 }