body
{
<<<<<<< HEAD
    margin: 0;
=======
    margin :0;
>>>>>>> f3a74937a5fd350af55ac5582048519f7f8d51d2
    padding: 0;
    background-color: #34495e;
    font-family: sans-serif;
}

<<<<<<< HEAD
h1
{
    color: white;
    font-family: Calibri;
    font-size: 1.2em;
    text-decoration: underline;
}

h2
{
    color: white;
    font-family: Calibri;
}

h3
{
    color: white;
    font-family: Calibri;
}

p
{
    color: white;
}

=======
>>>>>>> f3a74937a5fd350af55ac5582048519f7f8d51d2
form
{
    width: 300px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: #2f3640;
    text-align: center;
}
<<<<<<< HEAD

form input[type ="text"], form input[type = "password"], form input[type = "number"], form input[type = "email"], form input[type ="tel"]
{
=======
form input[type ="text"], form input[type = "password"], form input[type = "number"], form input[type = "email"], form input[type ="tel"]{
>>>>>>> f3a74937a5fd350af55ac5582048519f7f8d51d2
    border:0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #3498db;
    border-radius: 20px;
    color: white;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: white;    
    transition: 0.25s;

}
<<<<<<< HEAD

form h1
{
    color: white;
    text-transform: uppercase;    
    font-weight: 500px;
=======
form label
{
    color: #00cec9;
    text-transform: uppercase;    
    font-weight: 500px;
    font-weight: bold;
>>>>>>> f3a74937a5fd350af55ac5582048519f7f8d51d2
}

form input[type ="text"]:focus, form input[type = "password"]:focus, form input[type = "number"]:focus, form input[type = "email"]:focus, form input[type ="tel"]:focus
{
    width: 280px;
    border-color:#2ed573;
}

form input[type = "Submit"]
{
    border:0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #2ed573;
    border-radius: 20px;
    color: white;
    padding: 14px 40px;
    outline: none;
    color: white;    
    transition: 0.25s;

}
<<<<<<< HEAD

=======
>>>>>>> f3a74937a5fd350af55ac5582048519f7f8d51d2
form input[type = "submit"]:hover
{
    background: #2ed573;
}

<<<<<<< HEAD
a
{
    font-family: Calibri;
    font-size: 100%;
    color: white;
}

div.navbar
{
    overflow: hidden;
    background-color: #2f3640;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.navbar a
{
    float: right;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.navbar a:hover
{
    background-color: #00a8ff;
}

.navbar h2.titre1
{
    font-size: 1.1em;
}

label
{
    color: white;
=======
.desc
{
    position: relative;  /* les .infobulle deviennent référents */
    cursor: help;
    color: white;
    font-size: 9px;
    margin-bottom: 100px;
}

a
{
    outline: none;
    text-decoration: none;
    display: inline-block;
    width: 10%;
    margin-right: 0.625%;
    text-align: center;
    line-height: 3;
    color: black;

}
a:link, a:visited, a:focus {
  background: #16a085;
}

#date
{
    position: absolute;
    left: 90%;
    top: 0;
}

#createAc a
{
    position: relative;
    left: 10px;
}

footer
{
    position: absolute;
    bottom: 10;
    left :10;
    width: 90%;
}

a:hover
{
    background: #2ecc71;    
>>>>>>> f3a74937a5fd350af55ac5582048519f7f8d51d2
}