body
{
    margin :0;
    padding: 0;
    background-color: #34495e;
    font-family: Calibri;
}

h1
{
    color: white;
    font-family: Calibri;
    font-size: 1.2em;
    text-decoration: underline;
}

h2
{
    color: white;
    font-family: Calibri;
}

h3
{
    color: white;
    font-family: Calibri;
}

p
{
    color: white;
}

form
{
    width: 300px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: #2f3640;
    text-align: center;
}
.formeT1
{
    text-align: center;
    float: left;
/*    transform: translate(40%,50%);*/
    margin: 10em 1em 1em 10em;
}

.formeT2
{
    float: right;
/*    transform: translate(-40%,43%);*/
    margin: 10em 10em 1em 1em;
    text-align: center;
}

.Connexion
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.LiaisonPresentStand
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.ModifStand
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}



form input[type ="text"], form input[type = "password"], form input[type = "number"], form input[type = "email"], form input[type ="tel"]{
    border:0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #3498db;
    border-radius: 20px;
    color: white;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: white;    
    transition: 0.25s;

}

form label
{
    font-weight: bold;
}

form h1
{
    color: white;
    text-transform: uppercase;    
    font-weight: 500px;
    font-weight: bold;
}

form input[type ="text"]:focus, form input[type = "password"]:focus, form input[type = "number"]:focus, form input[type = "email"]:focus, form input[type ="tel"]:focus
{
    width: 280px;
    border-color:#2ed573;
}

form input[type = "Submit"]
{
    border:0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #2ed573;
    border-radius: 20px;
    color: white;
    padding: 14px 40px;
    outline: none;
    color: white;    
    transition: 0.25s;

}

form input[type = "submit"]:hover
{
    background: #2ed573;
}

.LiaisonPresentStand h1
{
    text-align: center;
}
.desc
{
    position: relative;  /* les .infobulle deviennent référents */
    cursor: help;
    color: white;
    font-size: 9px;
    margin-bottom: 100px;
}

a
{
    font-family: Calibri;
    font-size: 100%;
    color: white;
}

#date
{
    position: absolute;
    left: 90%;
    top: 0;
}

#createAc a
{
    position: relative;
    left: 10px;
}

footer
{
    position: absolute;
    bottom: 10;
    left :10;
    width: 90%;
}

div.navbar
{
    overflow: hidden;
    background-color: #2f3640;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.navbar a:not(.TitreSite)
{
    float: right;
    color: white;
    text-align: center;
    padding: 14px 16px;
/*    margin: 0em 1em 0em 1em;*/
/*    padding: 2em 1em 2em 1em;*/
    font-size: 100%;
    text-decoration: none;
}

.cssAdmin a
{
    float: right;
    color: white;
    text-align: center;
/*    padding: 14px 16px;*/
/*    margin: 0em 1em 0em 1em;*/
    padding: 1em 1em 1em 1em;
    font-size: 100%;
    text-decoration: none;
}


.navbar a:hover:not(.TitreSite)
{
    background-color: #00a8ff;
}

.navbar h2
{
    font-size: 1.1em; 
}

.navbar h2.titre1
{
   
    margin-left: 7.5em;
}

.navbar h2.titre2
{
    
    margin-left: 9em;
}

.navbar h2.titre3
{
    
    margin-left: 17em;
}

label
{
    color: white;
}

.desc
{
    position: relative;  /* les .infobulle deviennent référents */
    cursor: help;
    color: white;
    font-size: 9px;
    margin-bottom: 100px;
}

#date
{
    position: absolute;
    left: 90%;
    top: 0;
}

#createAc a
{
    position: relative;
    left: 10px;
}

footer
{
    position: absolute;
    bottom: 10;
    left :10;
    width: 90%;
}

#container
{
   width: 10%;
   height: 10%;
}

.container
{
    margin: 1%;
    text-align: center;
}

#container img
{
   width: 100%;
}
